
# test ignore
/tests/YOLO test/models
/tests/YOLO test/runs
/tests/YOLO test/*.pt
tests/models/yolov8x.pt
/tests/face_detection_dlib
/tests/face_detection_opencv
/tests/face_recognition
/tests/face_recognition_deepface

/ui/__pycache__
/ui/__pycache__/*.pyc



# sample 
/app/resource/*.mp4

# pycache ignore
*.pyc
*/__pycache__
*/__pycache__/*

