
# test ignore
/tests/YOLO test/models
/tests/YOLO test/runs
/tests/YOLO test/*.pt
tests/models/yolov8x.pt


/ui/__pycache__
/ui/__pycache__/*.pyc



# pycache ignore
*.pyc
*/__pycache__
*/__pycache__/*
/tests/face_detection_dlib
/tests/face_detection_opencv
/tests/face_recognition
/tests/face_recognition_deepface
